logging:
  level.root: DEBUG

server:
  port: 9100

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes[0]:
        id: product-service
        uri: lb://product-service
        predicates[0]: Path=/api/v1/products/**
      routes[1]:
        id: product-review-content-service
        uri: lb://product-review-content-service
        predicates[0]: Path=/api/v1/products/reviews/contents/**
      routes[2]:
        id: user-service
        uri: lb://user-service
        predicates[0]: Path=/api/v1/users/**
      routes[3]:
        id: cart-service
        uri: lb://cart-service
        predicates[0]: Path=/api/v1/carts/**
      routes[4]:
          id: order-service
          uri: lb://order-service
          predicates[0]: Path=/api/v1/orders/**
      routes[5]:
        id: discovery-service
        uri: http://localhost:8761
        predicates[0]: Path=/eureka/web
      routes[6]:
        id: discovery-service-static
        uri: http://localhost:8761
        predicates[0]: Path=/eureka/web/**

log:
  app-name: gateway-service