# Default ignored files
/shelf/
/.idea/
*.iws
*.iml
*.ipr

docker-compose/volumes/kafka/broker-1
docker-compose/volumes/kafka/broker-2
docker-compose/volumes/kafka/broker-3
docker-compose/zookeeper/data/
docker-compose/zookeeper/transactions/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
