# Default ignored files
/shelf/
/.idea/
*.iws
*.iml
*.ipr

broker-1/
broker-2/
broker-3/
zookeeper/data/
zookeeper/transactions/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
