# Default ignored files
/shelf/
/.idea/
*.iws
*.iml
*.ipr

**/volumes/zookeeper/broker-1/*
**/volumes/zookeeper/broker-2/*
**/volumes/zookeeper/broker-3/*
**/volumes/zookeeper/data/*
**/volumes/zookeeper/transactions/*

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
